.header {
  display: flex;
  background: #FFFFFF;
  justify-content: space-between;
  padding: 18px 70px;
  align-items: center;
  
}
.header__color{
  background-color: #f3c1f8;
}
@media (max-width: 768px) {
  
  .header {
    padding: 18px 30px;
  }

}
@media (max-width: 440px) {
  .header {
    padding: 14px 18px;
  }
}