.profile {
  margin: 0%;
  padding: 74px 0 70px;

  background: #ffffff;
}
.profile__wrapper {
  max-width: 396px;
  margin: auto;
}
.profile__form {
  display: flex;
  flex-direction: column;
  max-width: 410px;
}
.profile__input {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  border: none;
  border-bottom: solid 1px;
  border-color: #e8e8e8;
  text-align: right;
  padding-bottom: 16px;
  color: #000000;
  margin-bottom: 17px;
}
.profile__input:last-of-type {

  border: none;
}
.profile__label {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin: 0%;

  margin-bottom: -15px;
  z-index: 1;
  max-width: 100px;
}
.profile__header {
  text-align: center;
  margin: 0;
  margin-bottom: 123px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}
.profile__button {
  width: 100%;
  border: none;
  background: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 16px;
  color: #000000;

}

.profile__button:hover {
  cursor: pointer;
}
.profile__button:nth-child(even) {
  color: #ff4062;
  margin-bottom: 30px;
  margin-top: 0px;
  text-decoration: none;
}
.profile__button_disabled{
  width: 100%;
  border: none;
  background: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  color: grey;
  margin-top: 220px
}    
.profile__error{
  color: red
}

.profile__message{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
  color: #0e0d0d;
}
@media screen and (max-width: 768px) {
  .profile__header {
    padding-top: 236px;
    margin-bottom: 96px;
  }
  .profile{
    padding-top: 0;
  }
}
@media screen and (max-width: 440px) {
  .profile__header {
    padding: 70px 58px 80px;
    font-size: 24px;
    line-height: 29px;
  }
  .profile__form {
    max-width: 260px;
    margin: auto;
  }
  .profile__input:last-of-type {
    margin-bottom: 379px;
  }
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}
