.nav{
    display: none;
    /* background-color: black; */
    justify-content: center;
    height: 44px;
    width: 44px;
}
.main-nav__link{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
color: #FFFFFF;
margin-right: 40px;
margin-top: 24px;
margin-bottom: 24px;
}
.nav__burger{
    display: none;
cursor: pointer;
position: relative;
width:28px;
height : 23px

}
.nav__burger  span{
    content: "";
position: absolute;
top: 9px;
width:28px;
background: #000000;
Height : 3px;

}
.nav__burger::after{
content: "";
position: absolute;
top: 0;
width:28px;
background: #000000;
Height : 3px;

}
.nav__burger:before{
content: " ";
bottom: 0;
position: absolute;
width:28px;
background: #000000;
Height : 3px;

}

.main-nav__link:last-child{
    margin-right: 0;
}
@media screen and (max-width: 768px) {
    .nav__burger{
        display: block;
    }
}
@media  screen and (max-width:440px){
    .nav__burger::after{
        width:22px;
        height: 2.5px
    }
    .nav__burger:before{
        width:22px;
        height: 2.5px
    }
    .nav__burger span{
        width:22px;
        height: 2.5px
    }
    .nav__burger{

    width:22px;
    height : 20.5px
    
    }
}