@import url(./vendor/fonts/inter.css);
@import url(./vendor/normalize.css);

body {
  width: 100%;
  max-width: 1280px;
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',' Inter, Arial, Helvetica, sans-serif;'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#E5E5E5 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media(max-width: 768px) {
  body { max-width: 768px}
}
@media(max-width: 440px) {
  body { max-width: 440px}
}