.burger-menu {

    display: flex;
    align-items: top;
    justify-content: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
z-index: 1;
}
.burger {
  transform: translateX(-100%);
}

.burger-menu__content {
  margin: 0;
display: flex;
justify-content: center;
flex-direction: column;
  background: #ffffff;
width:70%;
padding:0;
}

.burger-menu__content__list {

  margin: 28px auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  padding-bottom: 4px;
  text-align: center;
min-width: 90px;
max-width: 300px;
  color: #000000;
}
.burger-menu__content__list:last-of-type{
margin-bottom: 220px
}
.active {
  border-bottom: 2px solid #000000;
}
.burger-menu__content__account {
  padding-right: 36px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  text-decoration: none;
  color: #000000;
  background: #FFFFFF;
box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
border-radius: 40px;
padding: 11px 9.5px;
width:100px;
padding-right: 42px;
}
.burger-menu__account{
  position: relative;
  width:100px;
  margin: auto;
}
.burger-menu__content__account-img {
  border-radius: 50%;
  padding: 7.5px;
  background: #f9f9f9;
  position: absolute;
  top: -3px;
  right: 3px;
}
.burger-menu__close{
position: absolute;
  width:22px;
height:22px;
top:12px;
right:12px;

}
